body{
    background-color: rgb(255, 255, 255);
}
.tab{
    position: fixed;
    color:white;
    /* background-color: darkgrey; */
    width:80px;
    background-color: gray;
    height: 50%;
    /* border-right: 2px solid red; */
}